**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading data
books = pd.read_csv("books/books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('books/users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('books/ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Shreyaspatil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Check no.of records and features given in each dataset

In [3]:
books.shape

(271360, 8)

In [4]:
users.shape

(278858, 3)

In [5]:
ratings.shape

(1149780, 3)

## Exploring books dataset

In [6]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [7]:
books.drop(books.columns[[5,6,7]],axis=1,inplace=True)

In [8]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [9]:
books['yearOfPublication'].value_counts()

2002         13903
2001         13715
1999         13414
2000         13373
1998         12116
2003         11610
1997         11494
1996         10687
1995         10259
1994          8857
1993          7920
1992          7390
1991          6926
1990          6394
1989          5825
1988          5545
1987          4761
2004          4629
1986          4258
1999          4017
1985          3912
2000          3859
2002          3724
1998          3650
2001          3644
1984          3631
0             3570
1997          3396
1996          3343
1983          3297
             ...
2011             1
1919             1
1900             1
1917             1
1806             1
2011             1
1927             1
1376             1
1926             1
1914             1
1924             1
1931             1
2020             1
1924             1
1938             1
1944             1
1930             1
1378             1
2008             1
2024             1
1897             1
2021             1
1934             1
2037             1
2038             1
1927             1
1926             1
2026             1
Gallimard        1
2012             1
Name: yearOfPublication, Length: 202, dtype: int64

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [10]:
books['yearOfPublication'].loc[books['yearOfPublication']=='DK Publishing Inc']

209538    DK Publishing Inc
221678    DK Publishing Inc
Name: yearOfPublication, dtype: object

In [11]:
books['yearOfPublication'].loc[books['yearOfPublication']=='Gallimard']

220731    Gallimard
Name: yearOfPublication, dtype: object

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [12]:
books.drop([209538,221678,220731],axis=0,inplace=True)

### Change the datatype of yearOfPublication to 'int'

In [13]:
books['yearOfPublication']=books['yearOfPublication'].astype('int32')

In [14]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [15]:
books['publisher'].dropna(inplace=True)

In [16]:
books['publisher'].isna().sum()

0

## Exploring Users dataset

In [17]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [18]:
np.sort(users['Age'].unique())

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [19]:
for row in range(users.shape[0]):
    if (users.loc[row,'Age']<5 or users.loc[row,'Age']>90):
           users.loc[row,'Age']=np.nan

In [20]:
users.isna().sum()

userID           0
Location         0
Age         112074
dtype: int64

### Replace null values in column `Age` with mean

In [21]:
users['Age'].fillna(users['Age'].mean(),inplace=True)

### Change the datatype of `Age` to `int`

In [22]:
users['Age']=users['Age'].astype('int32')

In [23]:
np.sort(users['Age'])

array([ 5,  5,  5, ..., 90, 90, 90])

## Exploring the Ratings Dataset

### check the shape

In [24]:
ratings.shape

(1149780, 3)

In [25]:
n_users = users.shape[0]
n_books = books.shape[0]

In [26]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [27]:
ratings=ratings[ratings['ISBN'].isin(books['ISBN'])]
ratings.shape

(1031132, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [28]:
ratings=ratings[ratings['userID'].isin(ratings['userID'])]

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [29]:
ratings['bookRating'].value_counts()

0     647291
8      91804
10     71225
7      66401
9      60778
5      45355
6      31687
4       7617
3       5118
2       2375
1       1481
Name: bookRating, dtype: int64

In [30]:
ratings=ratings[ratings['bookRating']!=0]

In [31]:
ratings.shape

(383841, 3)

### Find out which rating has been given highest number of times

In [32]:
print("Ratings given most number of times = ",ratings['bookRating'].mode()[0])

Ratings given most number of times =  8

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [33]:
val_count=pd.DataFrame(ratings['userID'].value_counts())
row_list=val_count[val_count['userID']>=100].index
ratings=ratings[ratings['userID'].isin(row_list)]
ratings.shape

(103271, 3)

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [34]:
ratings['bookRating'].fillna(0,inplace=True)

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [35]:
R_df = ratings.pivot(index = 'userID', columns ='ISBN', values = 'bookRating').fillna(0)
R_df.head

<bound method NDFrame.head of ISBN    0000913154  0001046438  000104687X  0001047213  0001047973  \
userID
2033           0.0         0.0         0.0         0.0         0.0
2110           0.0         0.0         0.0         0.0         0.0
2276           0.0         0.0         0.0         0.0         0.0
4017           0.0         0.0         0.0         0.0         0.0
4385           0.0         0.0         0.0         0.0         0.0
5582           0.0         0.0         0.0         0.0         0.0
6242           0.0         0.0         0.0         0.0         0.0
6251           0.0         0.0         0.0         0.0         0.0
6543           0.0         0.0         0.0         0.0         0.0
6575           0.0         0.0         0.0         0.0         0.0
7286           0.0         0.0         0.0         0.0         0.0
7346           0.0         0.0         0.0         0.0         0.0
8067           0.0         0.0         0.0         0.0         0.0
8245           0.0         0.0         0.0         0.0         0.0
8681           0.0         0.0         0.0         0.0         0.0
8890           0.0         0.0         0.0         0.0         0.0
10560          0.0         0.0         0.0         0.0         0.0
11676          0.0         0.0         0.0         0.0         0.0
11993          0.0         0.0         0.0         0.0         0.0
12538          0.0         0.0         0.0         0.0         0.0
12824          0.0         0.0         0.0         0.0         0.0
12982          0.0         0.0         0.0         0.0         0.0
13552          0.0         0.0         0.0         0.0         0.0
13850          0.0         0.0         0.0         0.0         0.0
14422          0.0         0.0         0.0         0.0         0.0
15408          0.0         0.0         0.0         0.0         0.0
15418          0.0         0.0         0.0         0.0         0.0
16634          0.0         0.0         0.0         0.0         0.0
16795          0.0         0.0         0.0         0.0         0.0
16966          0.0         0.0         0.0         0.0         0.0
...            ...         ...         ...         ...         ...
255489         0.0         0.0         0.0         0.0         0.0
257204         0.0         0.0         0.0         0.0         0.0
258152         0.0         0.0         0.0         0.0         0.0
258185         0.0         0.0         0.0         0.0         0.0
258534         0.0         0.0         0.0         0.0         0.0
261105         0.0         0.0         0.0         0.0         0.0
261829         0.0         0.0         0.0         0.0         0.0
262998         0.0         0.0         0.0         0.0         0.0
264031         0.0         0.0         0.0         0.0         0.0
264082         0.0         0.0         0.0         0.0         0.0
264321         0.0         0.0         0.0         0.0         0.0
264525         0.0         0.0         0.0         0.0         0.0
265115         0.0         0.0         0.0         0.0         0.0
265313         0.0         0.0         0.0         0.0         0.0
265889         0.0         0.0         0.0         0.0         0.0
266056         0.0         0.0         0.0         0.0         0.0
266226         0.0         0.0         0.0         0.0         0.0
268110         0.0         0.0         0.0         0.0         0.0
268300         0.0         0.0         0.0         0.0         0.0
268932         0.0         0.0         0.0         0.0         0.0
269566         0.0         0.0         0.0         0.0         0.0
270713         0.0         0.0         0.0         0.0         0.0
271448         0.0         0.0         0.0         0.0         0.0
271705         0.0         0.0         0.0         0.0         0.0
273113         0.0         0.0         0.0         0.0         0.0
274061         0.0         0.0         0.0         0.0         0.0
274301         0.0         0.0         0.0         0.0         0.0
275970         0.0         0.0         0.0         0.0         0.0
277427         0.0         0.0         0.0         0.0         0.0
278418         0.0         0.0         0.0         0.0         0.0

ISBN    000104799X  0001048082  0001053736  0001053744  0001055607  \
userID
2033           0.0         0.0         0.0         0.0         0.0
2110           0.0         0.0         0.0         0.0         0.0
2276           0.0         0.0         0.0         0.0         0.0
4017           0.0         0.0         0.0         0.0         0.0
4385           0.0         0.0         0.0         0.0         0.0
5582           0.0         0.0         0.0         0.0         0.0
6242           0.0         0.0         0.0         0.0         0.0
6251           0.0         0.0         0.0         0.0         0.0
6543           0.0         0.0         0.0         0.0         0.0
6575           0.0         0.0         0.0         0.0         0.0
7286           0.0         0.0         0.0         0.0         0.0
7346           0.0         0.0         0.0         0.0         0.0
8067           0.0         0.0         0.0         0.0         0.0
8245           0.0         0.0         0.0         0.0         0.0
8681           0.0         0.0         0.0         0.0         0.0
8890           0.0         0.0         0.0         0.0         0.0
10560          0.0         0.0         0.0         0.0         0.0
11676          0.0         0.0         0.0         0.0         0.0
11993          0.0         0.0         0.0         0.0         0.0
12538          0.0         0.0         0.0         0.0         0.0
12824          0.0         0.0         0.0         0.0         0.0
12982          0.0         0.0         0.0         0.0         0.0
13552          0.0         0.0         0.0         0.0         0.0
13850          0.0         0.0         0.0         0.0         0.0
14422          0.0         0.0         0.0         0.0         0.0
15408          0.0         0.0         0.0         0.0         0.0
15418          0.0         0.0         0.0         0.0         0.0
16634          0.0         0.0         0.0         0.0         0.0
16795          0.0         0.0         0.0         0.0         0.0
16966          0.0         0.0         0.0         0.0         0.0
...            ...         ...         ...         ...         ...
255489         0.0         0.0         0.0         0.0         0.0
257204         0.0         0.0         0.0         0.0         0.0
258152         0.0         0.0         0.0         0.0         0.0
258185         0.0         0.0         0.0         0.0         0.0
258534         0.0         0.0         0.0         0.0         0.0
261105         0.0         0.0         0.0         0.0         0.0
261829         0.0         0.0         0.0         0.0         0.0
262998         0.0         0.0         0.0         0.0         0.0
264031         0.0         0.0         0.0         0.0         0.0
264082         0.0         0.0         0.0         0.0         0.0
264321         0.0         0.0         0.0         0.0         0.0
264525         0.0         0.0         0.0         0.0         0.0
265115         0.0         0.0         0.0         0.0         0.0
265313         0.0         0.0         0.0         0.0         0.0
265889         0.0         0.0         0.0         0.0         0.0
266056         0.0         0.0         0.0         0.0         0.0
266226         0.0         0.0         0.0         0.0         0.0
268110         0.0         0.0         0.0         0.0         0.0
268300         0.0         0.0         0.0         0.0         0.0
268932         0.0         0.0         0.0         0.0         0.0
269566         0.0         0.0         0.0         0.0         0.0
270713         0.0         0.0         0.0         0.0         0.0
271448         0.0         0.0         0.0         0.0         0.0
271705         0.0         0.0         0.0         0.0         0.0
273113         0.0         0.0         0.0         0.0         0.0
274061         0.0         0.0         0.0         0.0         0.0
274301         0.0         0.0         0.0         0.0         0.0
275970         0.0         0.0         0.0         0.0         0.0
277427         0.0         0.0         0.0         0.0         0.0
278418         0.0         0.0         0.0         0.0         0.0

ISBN       ...      B000092Q0A  B00009EF82  B00009NDAN  B0000DYXID  \
userID     ...
2033       ...             0.0         0.0         0.0         0.0
2110       ...             0.0         0.0         0.0         0.0
2276       ...             0.0         0.0         0.0         0.0
4017       ...             0.0         0.0         0.0         0.0
4385       ...             0.0         0.0         0.0         0.0
5582       ...             0.0         0.0         0.0         0.0
6242       ...             0.0         0.0         0.0         0.0
6251       ...             0.0         0.0         0.0         0.0
6543       ...             0.0         0.0         0.0         0.0
6575       ...             0.0         0.0         0.0         0.0
7286       ...             0.0         0.0         0.0         0.0
7346       ...             0.0         0.0         0.0         0.0
8067       ...             0.0         0.0         0.0         0.0
8245       ...             0.0         0.0         0.0         0.0
8681       ...             0.0         0.0         0.0         0.0
8890       ...             0.0         0.0         0.0         0.0
10560      ...             0.0         0.0         0.0         0.0
11676      ...             0.0         0.0         0.0        10.0
11993      ...             0.0         0.0         0.0         0.0
12538      ...             0.0         0.0         0.0         0.0
12824      ...             0.0         0.0         0.0         0.0
12982      ...             0.0         0.0         0.0         0.0
13552      ...             0.0         0.0         0.0         0.0
13850      ...             0.0         0.0         0.0         0.0
14422      ...             0.0         0.0         0.0         0.0
15408      ...             0.0         0.0         0.0         0.0
15418      ...             0.0         0.0         0.0         0.0
16634      ...             0.0         0.0         0.0         0.0
16795      ...             0.0         0.0         0.0         0.0
16966      ...             0.0         0.0         0.0         0.0
...        ...             ...         ...         ...         ...
255489     ...             0.0         0.0         0.0         0.0
257204     ...             0.0         0.0         0.0         0.0
258152     ...             0.0         0.0         0.0         0.0
258185     ...             0.0         0.0         0.0         0.0
258534     ...             0.0         0.0         0.0         0.0
261105     ...             0.0         0.0         0.0         0.0
261829     ...             0.0         0.0         0.0         0.0
262998     ...             0.0         0.0         0.0         0.0
264031     ...             0.0         0.0         0.0         0.0
264082     ...             0.0         0.0         0.0         0.0
264321     ...             0.0         0.0         0.0         0.0
264525     ...             0.0         0.0         0.0         0.0
265115     ...             0.0         0.0         0.0         0.0
265313     ...             0.0         0.0         0.0         0.0
265889     ...             0.0         0.0         0.0         0.0
266056     ...             0.0         0.0         0.0         0.0
266226     ...             0.0         0.0         0.0         0.0
268110     ...             0.0         0.0         0.0         0.0
268300     ...             0.0         0.0         0.0         0.0
268932     ...             0.0         0.0         0.0         0.0
269566     ...             0.0         0.0         0.0         0.0
270713     ...             0.0         0.0         0.0         0.0
271448     ...             0.0         0.0         0.0         0.0
271705     ...             0.0         0.0         0.0         0.0
273113     ...             0.0         0.0         0.0         0.0
274061     ...             0.0         0.0         0.0         0.0
274301     ...             0.0         0.0        10.0         0.0
275970     ...             0.0         0.0         0.0         0.0
277427     ...             0.0         0.0         0.0         0.0
278418     ...             0.0         0.0         0.0         0.0

ISBN    B0000T6KHI  B0000VZEJQ  B0000X8HIE  B00013AX9E  B0001I1KOG  B000234N3A
userID
2033           0.0         0.0         0.0         0.0         0.0         0.0
2110           0.0         0.0         0.0         0.0         0.0         0.0
2276           0.0         0.0         0.0         0.0         0.0         0.0
4017           0.0         0.0         0.0         0.0         0.0         0.0
4385           0.0         0.0         0.0         0.0         0.0         0.0
5582           0.0         0.0         0.0         0.0         0.0         0.0
6242           0.0         0.0         0.0         0.0         0.0         0.0
6251           0.0         0.0         0.0         0.0         0.0         0.0
6543           0.0         0.0         0.0         0.0         0.0         0.0
6575           0.0         0.0         0.0         0.0         0.0         0.0
7286           0.0         0.0         0.0         0.0         0.0         0.0
7346           0.0         0.0         0.0         0.0         0.0         0.0
8067           0.0         0.0         0.0         0.0         0.0         0.0
8245           0.0         0.0         0.0         0.0         0.0         0.0
8681           0.0         0.0         0.0         0.0         0.0         0.0
8890           0.0         0.0         0.0         0.0         0.0         0.0
10560          0.0         0.0         0.0         0.0         0.0         0.0
11676          0.0         0.0         0.0         0.0         0.0         0.0
11993          0.0         0.0         0.0         0.0         0.0         0.0
12538          0.0         0.0         0.0         0.0         0.0         0.0
12824          0.0         0.0         0.0         0.0         0.0         0.0
12982          0.0         0.0         0.0         0.0         0.0         0.0
13552          0.0         0.0         0.0         0.0         0.0         0.0
13850          0.0         0.0         0.0         0.0         0.0         0.0
14422          0.0         0.0         0.0         0.0         0.0         0.0
15408          0.0         0.0         0.0         0.0         0.0         0.0
15418          0.0         0.0         0.0         0.0         0.0         0.0
16634          0.0         0.0         0.0         0.0         0.0         0.0
16795          0.0         0.0         0.0         0.0         0.0         0.0
16966          0.0         0.0         0.0         0.0         0.0         0.0
...            ...         ...         ...         ...         ...         ...
255489         0.0         0.0         0.0         0.0         0.0         0.0
257204         0.0         0.0         0.0         0.0         0.0         0.0
258152         0.0         0.0         0.0         0.0         0.0         0.0
258185         0.0         0.0         0.0         0.0         0.0         0.0
258534         0.0         0.0         0.0         0.0         0.0         0.0
261105         0.0         0.0         0.0         0.0         0.0         0.0
261829         0.0         0.0         0.0         0.0         0.0         0.0
262998         0.0         0.0         0.0         0.0         0.0         0.0
264031         0.0         0.0         0.0         0.0         0.0         0.0
264082         0.0         0.0         0.0         0.0         0.0         0.0
264321         0.0         0.0         0.0         0.0         0.0         0.0
264525         0.0         0.0         0.0         0.0         0.0         0.0
265115         0.0         0.0         0.0         0.0         0.0         0.0
265313         0.0         0.0         0.0         0.0         0.0         0.0
265889         0.0         0.0         0.0         0.0         0.0         0.0
266056         0.0         0.0         0.0         0.0         0.0         0.0
266226         0.0         0.0         0.0         0.0         0.0         0.0
268110         0.0         0.0         0.0         0.0         0.0         0.0
268300         0.0         0.0         0.0         0.0         0.0         0.0
268932         0.0         0.0         0.0         0.0         0.0         0.0
269566         0.0         0.0         0.0         0.0         0.0         0.0
270713         0.0         0.0         0.0         0.0         0.0         0.0
271448         0.0         0.0         0.0         0.0         0.0         0.0
271705         0.0         0.0         0.0         0.0         0.0         0.0
273113         0.0         0.0         0.0         0.0         0.0         0.0
274061         0.0         0.0         0.0         0.0         0.0         0.0
274301         0.0         0.0         0.0         0.0         0.0         0.0
275970         0.0         0.0         0.0         0.0         0.0         0.0
277427         0.0         0.0         0.0         0.0         0.0         0.0
278418         0.0         0.0         0.0         0.0         0.0         0.0

[449 rows x 66574 columns]>

In [36]:
R_df.shape

(449, 66574)

In [37]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_df, k = 50)

In [38]:
sigma = np.diag(sigma)
sigma

array([[147.92121923,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 149.34383594,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 150.07402888, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 379.58353138,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        634.74439146,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 680.41331629]])

In [39]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.025341,-0.002146,-0.001431,-0.002146,-0.002146,0.002971,-0.003920,0.007035,0.007035,0.012316,...,0.000180,0.000226,0.042081,-0.016804,-0.080027,0.004746,0.028314,0.000120,-0.001693,0.067503
1,-0.010012,-0.003669,-0.002446,-0.003669,-0.003669,0.001075,0.001440,-0.003500,-0.003500,0.001612,...,-0.000363,0.000403,0.008142,0.001104,-0.029224,0.000999,0.002363,-0.000242,0.000029,-0.013059
2,-0.015054,-0.015457,-0.010304,-0.015457,-0.015457,0.007281,-0.014033,0.011941,0.011941,0.011796,...,-0.000455,0.001907,0.047982,0.005737,0.117859,0.006945,0.003119,-0.000304,0.009009,-0.057692
3,-0.021499,0.035602,0.023735,0.035602,0.035602,0.030307,0.024215,-0.001053,-0.001053,0.067579,...,0.002971,0.009912,0.086248,-0.008818,0.016154,0.028848,-0.000125,0.001981,0.031201,-0.046664
4,0.002077,-0.007965,-0.005310,-0.007965,-0.007965,0.002947,0.003057,0.000231,0.000231,0.006080,...,0.002120,0.001597,-0.012181,0.009420,0.673458,0.002591,-0.008229,0.001413,0.004918,0.047773

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [40]:
userID = 2110

In [41]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [42]:
sorted_user_predictions=preds_df.iloc[user_id].sort_values(ascending=False)
sorted_user_predictions

ISBN
0316666343    1.015398
059035342X    0.778666
0345350499    0.697309
0440214041    0.665439
044021145X    0.663549
0312195516    0.642840
0345318862    0.639465
0345313151    0.631446
0380752891    0.629143
051511605X    0.617955
043936213X    0.614288
0385504209    0.613232
0312966970    0.605433
0440213525    0.603722
0812548051    0.602907
0380752859    0.598778
0345322231    0.588352
0345318854    0.579408
0452282152    0.572168
0812548094    0.571572
0812517725    0.564544
0345322215    0.560832
0440211727    0.560544
0380759489    0.559758
0812551478    0.558102
006016848X    0.550815
0345313097    0.547583
0886774802    0.544630
0553280368    0.541396
0446310786    0.540218
                ...
055321313X   -0.128899
0140251367   -0.131740
0836220854   -0.132223
0670835382   -0.133569
0375706062   -0.134258
0440404193   -0.134705
0679767789   -0.135518
0062501860   -0.135882
0140501800   -0.136724
0515090166   -0.137002
0140328696   -0.137862
0515095826   -0.138192
0525941908   -0.140114
0671769316   -0.141472
0156013924   -0.142049
0684843269   -0.143380
0140440046   -0.143926
0380002558   -0.144246
0452278902   -0.145532
067082982X   -0.146698
0316236446   -0.151449
0385199570   -0.151624
0684853507   -0.157824
0394832922   -0.158662
0877799156   -0.159875
0380709562   -0.162346
0553213164   -0.173301
0440219078   -0.174498
0807508527   -0.204146
0743235150   -0.209452
Name: 2, Length: 66574, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [43]:
user_data = ratings[ratings.userID == (userID)]

In [44]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [45]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [46]:
user_full_info = (user_data.merge(books, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                     sort_values(['bookRating'], ascending=False))

In [47]:
books.shape

(271357, 5)

In [48]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [49]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
76,2110,067166865X,10,STAR TREK YESTERDAY'S SON (Star Trek: The Orig...,A.C. Crispin,1988,Audioworks
52,2110,0590109715,10,"The Andalite Chronicles (Elfangor's Journey, A...",Katherine Applegate,1997,Apple
64,2110,0590629786,10,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic
63,2110,0590629778,10,"The Invasion (Animorphs, No 1)",K. A. Applegate,1996,Scholastic
61,2110,059046678X,10,The Yearbook,Peter Lerangis,1994,Scholastic

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [50]:
recommendations = (books[~books['ISBN'].isin(user_full_info['ISBN'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'ISBN',
               right_on = 'ISBN').
         rename(columns = {user_id: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:10, :-1])

In [51]:
recommendations

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2116,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
2438,0440214041,The Pelican Brief,John Grisham,1993,Dell
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
20670,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
4810,0345313151,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
6320,0380752891,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
44448,051511605X,Undue Influence,Steven Paul Martini,1995,Jove Books
8977,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic